<!DOCTYPE html>

<head>
  <meta charset="utf-8">
<title>webAppPython</title>
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
  <title>LINE LOGIN</title>
  <style>
    .centerScreen {
      margin-top: 20;
      margin-right: auto;
      margin-bottom: 20;
      margin-left: auto;
    }
  </style>
</head>

<body>
  <div class="centerScreen">
    <center>
      <img src="https://drive.google.com/uc?id=1mEyShWSX9rPf4klIDeMTlHAOc4BsySFK" height="200px" , width="200px" />
      <h1>
        ต้อง login ก่อนไปสู่ google form
      </h1>
      <br>
      <h2>
       กำลังเข้าสู่ Line Login กรุณารอซักครู่...
      </h2>
    </center>
  </div>
</body>
<footer>
  <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
  <script>
    /// Config Your LIFF ID Here
    const liffId = "1656300767-2jL14Gmm";
    /// Config Your LIFF ID Here
    liff.ready
      .then(() => {
        if (liff.isLoggedIn()) {
          return liff.getProfile();
        } else {
          liff.login({
            redirectUri: "https://forensicmnrhbot.herokuapp.com/",
          });
        }
      })
      .then((profile) => {
        window.location.replace(
          `https://docs.google.com/forms/d/e/1FAIpQLSe__NrBbqCIHJ786Q8gnUW1DgyfwcimRpCKBbdsIE6E34n0VA/viewform?usp=pp_url&entry.1301570835=${profile.userId}&entry.1487484052=${profile.displayName}&entry.933713898=${profile.pictureUrl}&entry.1581199792=${profile.statusMessage}`
        );
      });
    liff.init(
      {
        liffId: liffId,
      },
      () => {},
      (err) => {
        window.alert(err);
      }
    );
  </script>
</footer>

